* {
    box-sizing: border-box;
}

.wrapper {
    display: flex;
    justify-content: center;
}

.gameBoard {
    border: solid 1px black;
    width: 375px;
    height:375px;
    display: grid;
    grid-template-rows: repeat(3, 125px);
    grid-template-columns: repeat(3, 125px);
}

div[class^="field"] {
    border: solid 1px black;
}

.endScreen {
    transform: scale(0);
}

.active {
    transform: scale(1);
}