* {
    box-sizing: border-box;
}

.wrapper {
    display: flex;
    justify-content: center;
    position: relative;
}

.gameBoard {
    width: 375px;
    height:375px;
    display: grid;
    grid-template-rows: repeat(3, 125px);
    grid-template-columns: repeat(3, 125px);
    transition: all 350ms ease-in-out;
}

.blur {
    filter: blur(10px);
}

div[class^="field"] {
    border: solid 1px black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0px;
    transition: all 350ms ease-in-out;
}

div[class^="field"].active {
    font-size: 100px;
}

div.field0, div.field1, div.field2 {
    border-top: 0;
}
div.field6, div.field7, div.field8 {
    border-bottom: 0;
}
div.field0, div.field3, div.field6 {
    border-left: 0;
}
div.field2, div.field5, div.field8 {
    border-right: 0;
}

.startScreen {
    position: absolute;
    margin-left: auto;
    transform: scale(0);
    transition: all 350ms ease-in-out;
}

.active {
    transform: scale(1);
}